.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    background: linear-gradient(to bottom, #00c6ff, #0072ff); 
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; 
}

.welcome-page h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    word-wrap: break-word; 
    max-width: 90%; 
}

.welcome-page p {
    font-size: 1.1rem; 
    line-height: 1.4;
    max-width: 80%; 
    color: #fff;
    margin-bottom: 30px;
    padding: 0 20px;
    word-wrap: break-word;
}

.welcome-page .btn-primary {
    background-color: #fff;
    color: #0072ff;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.welcome-page .btn-primary:hover {
    background-color: #0072ff;
    color: #fff;
    transform: translateY(-3px); 
}

.welcome-page .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.welcome-page .d-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* @media (max-width: 768px) {
    .welcome-page h1 {
        font-size: 2rem;
    }

    .welcome-page p {
        font-size: 1rem;
    }

    .welcome-page .btn-primary {
        font-size: 1rem;
    }
} */
