/* Стили для страницы приветствия */
.welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100vh;
    background: linear-gradient(to bottom, #00c6ff, #0072ff); /* Градиент для фона */
    color: #fff;
    font-family: 'Roboto', sans-serif;
    overflow: hidden; /* Убирает ненужные прокрутки */
}

/* Заголовок */
.welcome-page h1 {
    font-size: 2.5rem; /* Сделаем размер текста меньше */
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Легкая тень для заголовка */
    word-wrap: break-word; /* Разбиение текста, если он слишком длинный */
    max-width: 90%; /* Максимальная ширина для текста */
}

/* Описание игры */
.welcome-page p {
    font-size: 1.1rem; /* Уменьшенный размер текста */
    line-height: 1.4;
    max-width: 80%; /* Ограничим ширину */
    color: #fff;
    margin-bottom: 30px;
    padding: 0 20px;
    word-wrap: break-word; /* Разбиение текста, если он слишком длинный */
}

/* Кнопка старта */
.welcome-page .btn-primary {
    background-color: #fff;
    color: #0072ff;
    padding: 15px 40px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 50px; /* Скругленные углы */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для кнопки */
}

/* Эффект при наведении на кнопку */
.welcome-page .btn-primary:hover {
    background-color: #0072ff;
    color: #fff;
    transform: translateY(-3px); /* Эффект поднятия кнопки */
}

/* Эффект на кнопку при фокусе */
.welcome-page .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Яркая тень */
}

/* Стиль для блока с кнопкой */
.welcome-page .d-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* @media (max-width: 768px) {
    .welcome-page h1 {
        font-size: 2rem;
    }

    .welcome-page p {
        font-size: 1rem;
    }

    .welcome-page .btn-primary {
        font-size: 1rem;
    }
} */
